@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
}

header {
    background: white;
}

header > h1 {   
    color: #24272E;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;

}